@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  /* Colours */
  --color-text-white: #fff;
  --color-text-dark: #064159;
  --color-primary: #042F40;
  --color-secondary: #00757C;
  --color-third: #0254A4;
  --color-yellow: #FFC700;
  --color-bg: #fff;

  /* Fonts */
  --font-main-title: "poppins-blod", sans-serif;
  --font-sub-title: "poppind-semibold", sans-serif;
  --font-paragraph: "poppins-regular", sans-serif;
}
